

<div  *ngIf="student; else falseBlock" class="alert alert-info">
  <p>Name:{{student.name}}</p>
  <!-- <p>userName:{{User.username}}</p>
  <p>Website:{{User.website}}</p> -->
  <p>age:{{student.age}}</p>
  <p>Email:{{student.email}}</p>
  <!-- <p>Address:{{User.address.street}}, {{User.address.city}}</p> -->
  <p>Phone:{{student.phone}}</p>
</div>
<!-- 
<ng-template #falseBlock>
  <h1 class="alert alert-danger">Loading...</h1>
</ng-template> -->

<ng-template #falseBlock>
    <h1 class="alert alert-danger">Loading...</h1>
  </ng-template>
  