

<table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">name</th>
      
        <th scope="col">email</th>
        <th scope="col">details</th>
        <th scope="col">action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let s of students">
        <th scope="row">{{s.id}}</th>
        <td>{{s.name}}</td>
        <td>{{s.email}}</td>
        <td><a routerLink="/students/{{s.id}}">details</a></td>
        
     
          
          <td>

            <button class="btn btn-danger" (click)="deletestudent(s.id)">delete</button>
            <button class="btn btn-info"><a class="text-decoration-none" routerLink="/updatestudent/{{s.id}}">update</a></button>
          </td>
      </tr>
     
    </tbody>
  </table>
  